In [2]:
import pandas as pd

In [3]:
# aw = pd.read_excel('애월읍_중복제거_DB.xlsx')
aw = pd.read_excel('성산읍_중복제거_DB.xlsx')

In [4]:
aw.head(2)

   name  score  review price what         address
0  모랑가주    4.6      19   NaN  음식점  성산읍 고성리 1113-3
1    해왓    4.4     614    ₩₩   한식   성산읍 고성리 524-2

In [5]:
aw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     1389 non-null   object
 1   score    1389 non-null   float64
 2   review   1389 non-null   int64
 3   price    540 non-null    object
 4   what     1378 non-null   object
 5   address  1367 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 65.2+ KB

# 주소 걸러내기

In [6]:
# aewol = ['고내리', '고성리', '곽지리', '광령리', '구엄리', '금성리', '납읍리', '봉성리', '상가리', '상귀리', '소길리', '수산리', '신엄리', '애월리', '어음리', '유수암리', '장전리', '하가리', '하귀1리', '하귀2리']
aewol = ['고성리', '난산리', '삼달리', '성산리', '수산리', '시흥리', '신산리', '신천리', '신풍리', '오조리', '온평리']

print(aewol)

['고성리', '난산리', '삼달리', '성산리', '수산리', '시흥리', '신산리', '신천리', '신풍리', '오조리', '온평리']

In [7]:
# 애월읍 리 합치고 '리' 없애기 
result = "|".join(aewol)
result = result.replace("리", "")
result

'고성|난산|삼달|성산|수산|시흥|신산|신천|신풍|오조|온평'

In [16]:
# 정확성을 위해 다른 키워드도 추가 
addr = result+'|성산|일출|동류암'
addr

'고성|난산|삼달|성산|수산|시흥|신산|신천|신풍|오조|온평|성산|일출|동류암'

In [17]:
# 해당 주소 키워드를 포함하는 주소를 가진 행만 뽑아내기 
aw2 = aw[aw['address'].str.contains(addr, regex=True, na=False)] # nan일 때 false반환 
aw2

         name  score  review price what                               address
0        모랑가주    4.6      19   NaN  음식점                        성산읍 고성리 1113-3
1          해왓    4.4     614    ₩₩   한식                         성산읍 고성리 524-2
2       부뚜막식당    4.5     156   NaN   한식                          성산읍 고성오조로 11
3       폼포코식당    4.4      82   NaN   일식  성산읍 동류암로 20  플레이스 캠프 제주 내 Change동 1층
4        맛나식당    4.3    1244    ₩₩   한식                           성산읍 동류암로 43
...       ...    ...     ...   ...  ...                                   ...
1383       김밥    0.0       0     ₩  음식점                       177-15, 성산리 성산읍
1384     선미식당    3.3      78    ₩₩   한식                           성산읍 일출로 281
1385  성산올레회국수    2.7       9    ₩₩   한식                         성산읍 성산리 171-8
1386  하늘이내린풍경    4.5       2     ₩   한식                           성산읍 오조리 7-2
1388    우리들국수    3.0      66   NaN  음식점                          성산읍 섭지코지로 65

[1052 rows x 6 columns]

In [19]:
# 해당 주소 키워드를 가지지 않은 리스트 따로 뽑아서 변수에 저장
not_aw = aw[~aw['address'].str.contains(addr, regex=True, na=False)]
not_aw.address.unique()

array([nan, '조천읍 신북로 491-9  2층', '구좌읍 해맞이해안로 518', '구좌읍 해맞이해안로 1926ㅡ3',
       '구좌읍 하도리 1544-2', '우도면 연평리 1290-2', '애월읍 애월로 53  1 1층', '일주서로 879',
       '우도면 우도해안길', '표선면 민속해안로 537', '선교로 212', '이도이동 번지 1층 364-10',
       '제주시 건입동 임항로 30', '안덕면 상창리', '색달동 2182', '용담1동 남성로 43',
       '삼도이동 1098-3', '연동 연북로 146', '대정읍 하모리 770-29', '도두이동 706-11',
       '연동 271-10', '삼도2동 북성로 65', '중문동 1891-8', '서귀동 257-7',
       '사등면 성포리 343-3', '공항동 14-90번지 1층 강서구 서울특별시', '팔탄면 서근리 220-17',
       '칠산동 326-6', '표선면 성읍리 1627', '표선면 성읍리 1624-3', '표선면 성읍리 372-3',
       '표선면 성읍리 987-10', '표선면 성읍리 987-1', '표선면 성읍민속로 130',
       '표선면 성읍리 407-1', '표선면 성읍리 580', '표선면 성읍리 530-1', '표선면 성읍리 1635-5',
       '표선면 성읍리 1624-17', '표선면 성읍정의현로22번길 18-8', '표선면 성읍리',
       '표선면 가시리 1898-1', '표선면 성읍리 481-3', '표선면 성읍리 547',
       '구좌읍 해맞이해안로 1156-5', '표선면 표선리 40-48', '표선면 표선리 40-56',
       '표선면 표선리 610-2', '표선면 번영로 2644', '안덕면 광평리 211', '도두일동 2587-4',
       '조천읍 교래리 491', '아연로 438-22', '안덕면 대평감산로 14', '대정읍 하모리 2133-4',
       '성환읍 성환리 321', '표선면 성읍리 481-7', '표선면 중산간동로', '표선면 성읍리 483-1',
       '표선면 성읍리 987-12', '표선면 성읍리 532-6', '표선면 성읍리 687-3',
       '표선면 성읍리 417-10', '표선면 성읍리 1650-3', '표선면 성읍리 987-5',
       '표선면 중산간동로 4592', '표선면 성읍리 1623-3', '표선면 성읍리 828-7',
       '표선면 성읍리 809-2', '표선면 성읍리 1625-2', '표선면 성읍리 768-2', '표선면 성읍리 1628',
       '표선면 성읍리 1618', '표선면 성읍리 827', '표선면 성읍리 1442-1', '표선면 성읍서문로',
       '표선면 성읍정의현로 45', '표선면 성읍리 1631-6', '표선면 성읍리 695-10',
       '표선면 성읍정의현로22번길 18', '표선면 성읍리 695-6', '표선면 성읍리 850-1', '표선면 하천리',
       '표선면 표선리 19-1  45', '표선면 하천리 1164-1번지 서귀포시', '표선면 성읍리 1104',
       '표선면 하천리 1561', '표선면 하천리 588-1번지', '표선면 번영로 3113', '표선면 하천리 1359',
       '표선면 성읍리 2060-1', '조천읍 번영로 1680', '표선면 번영로 3271-4', '표선면 표선리 45-3',
       '구좌읍 종달리 1887-3', '표선면 표선리 2604-3', '표선면 성읍리 472-1',
       '표선면 표선리 597-2', '표선면 표선리 606', '표선면 표선리 42', '구좌읍 평대리 1945-2',
       '표선면 성읍민속로 191', '신시가지, 대청로 37  강정동 208-5', '용마서1길 36 대한민국',
       '우도면 우도해안길 936', '우도면 연평리 2515', '구좌읍 한동리 1388-1', '안덕면 서광리 1417',
       '조천읍 선진길 26', '표선면 가시리 1890', '외도이동 월대3길 14-6', '안덕면 사계로 191',
       '남원읍 위미리 1757-12', '연동 313-19', '일도이동 417-18', '법환동 번지 1층 1275-3',
       '강정동 선반로65번길 71', '송산동 767-5', '연동 291-115', '대포동 2270',
       '봉래동3가 162-5', '의정부1동 214-44', '남원읍 의귀리 1424', '반월동 남산평길 119',
       '구좌읍 종달리', '구좌읍 구좌읍 종달로7길15,1층', '구좌읍 종달리 2566-1', '원삼면 고당리 71-4',
       '구좌읍 해맞이해안로 2284', '구좌읍 세화리 3643-6', '동홍동 417-1', '대정읍 상모리',
       '두정동 640', '표선면 민속해안로 578-7', '표선면 표선리 40-43', '표선면 표선리 40-44',
       '표선면 표선리 1-2  1층', '표선면 표선당포로 13-1', '표선면 표선당포로 19-3',
       '표선면 민속해안로 580', '표선면 표선리 40-55', '표선면 표선리 863', '표선면 표선동서로 283',
       '표선면 표선리 567', '표선면 표선당포로 9', '표선면 표선리 40-35',
       '표선면 표선동서로264번길 22 2층', '표선면 가시로 13', '표선면 표선당포로 10-4',
       '표선면 표선당포로 4', '표선면 표선동서로 324-18', '표선면 표선리 40-31', '표선면 번영로 3496',
       '표선면 표선리 40-51', '표선면 표선리 570-2', '표선면 표선리 40-37',
       '표선면 표선리 1010-5', '표선면 표선리 1-2', '표선면 표선리 40-34', '표선면 표선리 40-47',
       '표선면 표선리 40-41', '표선면 표선리 530-1', '표선면 하천리 251-1', '표선면 표선리 40-1',
       '표선면 표선리', '표선면', '표선면 표선리 40-33', '표선면 표선리 679-3',
       '표선면 표선리 500-1', '표선면 표선중앙로 96', '표선면 표선리 45-11', '표선면 표선리 670-1',
       '표선면 표선리 40-59', '표선면 표선중앙로 73-3', '표선면 표선리 661-1',
       '표선면 표선동서로 268-1', '표선면 표선리 628',
       'Sea of Japan (also known as the East Sea)', '표선면 표선리 843',
       '표선면 표선리 624-2', '표선면 표선당포로 7', '표선면 표선리 634-13', '표선면 표선리 40-69',
       '표선면 표선동서로264번길 22', '표선면 표선리 695-1', '표선면 표선중앙로 75',
       '표선면 표선리 40-40', '표선면 표선리 627', '표선면 하천리 154-6', '표선면 표선리 648-3',
       '표선면 표선리 40-52', '돌모루 표선중앙로96번길 6  1층', '표선면 표선중앙로 77',
       '표선면 표선리 1809-3', '표선면 표선리 45-1', '표선면 표선동서로 276-1',
       '표선면 표선리 1007-2', '표선면 표선중앙로90번길 1', '표선면 표선동서로 253',
       '표선면 표선리 630-2', '표선면 성읍리 1380-3', '표선면 표선리 662-1',
       '남원읍 남원리 186-4', '표선면 표선리 880-1',
       '서북구 성거읍 신월리 371-1번지 1층 천안시 충청남도', '봉천동 895-1',
       '표선면 성읍정의현로22번길 14-5', '표선면 성읍리 1418', '표선면 성읍리 868-1',
       '표선면 성읍민속로 63  (가게옆 초가 관람지와 무관한 곳 입니다', '표선면 성읍민속로 148',
       '표선면 세화리 1128-4', '표선면 성읍리 3305-25', '표선면 가시로 419', '표선면 성읍리 1018',
       '표선면 성읍리 1505', '표선면 성읍리 1623-1', '표선면 가시리 1877-6',
       '표선면 가시리 1900-4', '표선면 하천리 2185-11', '표선면 성읍리 656-2',
       '표선면 세화리 1123-3', '표선면 표선관정로', '표선면 번영로3476번길', '표선면 성읍리 830-1',
       '표선면 가시리 2501-6', '표선면 표선리 637-8', '조천읍 북선로 372', '표선면 성읍리 766-1',
       '구좌읍 종달로 60-15', '표선면 성읍리 963', '표선면 성읍정의현로 40', '표선면 성읍리 582',
       '서호동 1466-15', '테헤란로 37길 7 13층 디너의여왕', '제주시 구좌읍 해맞이해안로 1296',
       '구좌읍 해맞이해안로 1108', '조천읍 교래4길 73', '이도이동 1977-6', '대정읍 하모리 52-3',
       '강정동 5495', '표선면 토산리 423-3 21', '표선면 세화리 183'], dtype=object)

In [20]:
# 애월읍이 아닌 주소 뽑아낸 뒤 혹시 잘못빠진건 아닌지 확인  
not_aw.address.unique()

array([nan, '조천읍 신북로 491-9  2층', '구좌읍 해맞이해안로 518', '구좌읍 해맞이해안로 1926ㅡ3',
       '구좌읍 하도리 1544-2', '우도면 연평리 1290-2', '애월읍 애월로 53  1 1층', '일주서로 879',
       '우도면 우도해안길', '표선면 민속해안로 537', '선교로 212', '이도이동 번지 1층 364-10',
       '제주시 건입동 임항로 30', '안덕면 상창리', '색달동 2182', '용담1동 남성로 43',
       '삼도이동 1098-3', '연동 연북로 146', '대정읍 하모리 770-29', '도두이동 706-11',
       '연동 271-10', '삼도2동 북성로 65', '중문동 1891-8', '서귀동 257-7',
       '사등면 성포리 343-3', '공항동 14-90번지 1층 강서구 서울특별시', '팔탄면 서근리 220-17',
       '칠산동 326-6', '표선면 성읍리 1627', '표선면 성읍리 1624-3', '표선면 성읍리 372-3',
       '표선면 성읍리 987-10', '표선면 성읍리 987-1', '표선면 성읍민속로 130',
       '표선면 성읍리 407-1', '표선면 성읍리 580', '표선면 성읍리 530-1', '표선면 성읍리 1635-5',
       '표선면 성읍리 1624-17', '표선면 성읍정의현로22번길 18-8', '표선면 성읍리',
       '표선면 가시리 1898-1', '표선면 성읍리 481-3', '표선면 성읍리 547',
       '구좌읍 해맞이해안로 1156-5', '표선면 표선리 40-48', '표선면 표선리 40-56',
       '표선면 표선리 610-2', '표선면 번영로 2644', '안덕면 광평리 211', '도두일동 2587-4',
       '조천읍 교래리 491', '아연로 438-22', '안덕면 대평감산로 14', '대정읍 하모리 2133-4',
       '성환읍 성환리 321', '표선면 성읍리 481-7', '표선면 중산간동로', '표선면 성읍리 483-1',
       '표선면 성읍리 987-12', '표선면 성읍리 532-6', '표선면 성읍리 687-3',
       '표선면 성읍리 417-10', '표선면 성읍리 1650-3', '표선면 성읍리 987-5',
       '표선면 중산간동로 4592', '표선면 성읍리 1623-3', '표선면 성읍리 828-7',
       '표선면 성읍리 809-2', '표선면 성읍리 1625-2', '표선면 성읍리 768-2', '표선면 성읍리 1628',
       '표선면 성읍리 1618', '표선면 성읍리 827', '표선면 성읍리 1442-1', '표선면 성읍서문로',
       '표선면 성읍정의현로 45', '표선면 성읍리 1631-6', '표선면 성읍리 695-10',
       '표선면 성읍정의현로22번길 18', '표선면 성읍리 695-6', '표선면 성읍리 850-1', '표선면 하천리',
       '표선면 표선리 19-1  45', '표선면 하천리 1164-1번지 서귀포시', '표선면 성읍리 1104',
       '표선면 하천리 1561', '표선면 하천리 588-1번지', '표선면 번영로 3113', '표선면 하천리 1359',
       '표선면 성읍리 2060-1', '조천읍 번영로 1680', '표선면 번영로 3271-4', '표선면 표선리 45-3',
       '구좌읍 종달리 1887-3', '표선면 표선리 2604-3', '표선면 성읍리 472-1',
       '표선면 표선리 597-2', '표선면 표선리 606', '표선면 표선리 42', '구좌읍 평대리 1945-2',
       '표선면 성읍민속로 191', '신시가지, 대청로 37  강정동 208-5', '용마서1길 36 대한민국',
       '우도면 우도해안길 936', '우도면 연평리 2515', '구좌읍 한동리 1388-1', '안덕면 서광리 1417',
       '조천읍 선진길 26', '표선면 가시리 1890', '외도이동 월대3길 14-6', '안덕면 사계로 191',
       '남원읍 위미리 1757-12', '연동 313-19', '일도이동 417-18', '법환동 번지 1층 1275-3',
       '강정동 선반로65번길 71', '송산동 767-5', '연동 291-115', '대포동 2270',
       '봉래동3가 162-5', '의정부1동 214-44', '남원읍 의귀리 1424', '반월동 남산평길 119',
       '구좌읍 종달리', '구좌읍 구좌읍 종달로7길15,1층', '구좌읍 종달리 2566-1', '원삼면 고당리 71-4',
       '구좌읍 해맞이해안로 2284', '구좌읍 세화리 3643-6', '동홍동 417-1', '대정읍 상모리',
       '두정동 640', '표선면 민속해안로 578-7', '표선면 표선리 40-43', '표선면 표선리 40-44',
       '표선면 표선리 1-2  1층', '표선면 표선당포로 13-1', '표선면 표선당포로 19-3',
       '표선면 민속해안로 580', '표선면 표선리 40-55', '표선면 표선리 863', '표선면 표선동서로 283',
       '표선면 표선리 567', '표선면 표선당포로 9', '표선면 표선리 40-35',
       '표선면 표선동서로264번길 22 2층', '표선면 가시로 13', '표선면 표선당포로 10-4',
       '표선면 표선당포로 4', '표선면 표선동서로 324-18', '표선면 표선리 40-31', '표선면 번영로 3496',
       '표선면 표선리 40-51', '표선면 표선리 570-2', '표선면 표선리 40-37',
       '표선면 표선리 1010-5', '표선면 표선리 1-2', '표선면 표선리 40-34', '표선면 표선리 40-47',
       '표선면 표선리 40-41', '표선면 표선리 530-1', '표선면 하천리 251-1', '표선면 표선리 40-1',
       '표선면 표선리', '표선면', '표선면 표선리 40-33', '표선면 표선리 679-3',
       '표선면 표선리 500-1', '표선면 표선중앙로 96', '표선면 표선리 45-11', '표선면 표선리 670-1',
       '표선면 표선리 40-59', '표선면 표선중앙로 73-3', '표선면 표선리 661-1',
       '표선면 표선동서로 268-1', '표선면 표선리 628',
       'Sea of Japan (also known as the East Sea)', '표선면 표선리 843',
       '표선면 표선리 624-2', '표선면 표선당포로 7', '표선면 표선리 634-13', '표선면 표선리 40-69',
       '표선면 표선동서로264번길 22', '표선면 표선리 695-1', '표선면 표선중앙로 75',
       '표선면 표선리 40-40', '표선면 표선리 627', '표선면 하천리 154-6', '표선면 표선리 648-3',
       '표선면 표선리 40-52', '돌모루 표선중앙로96번길 6  1층', '표선면 표선중앙로 77',
       '표선면 표선리 1809-3', '표선면 표선리 45-1', '표선면 표선동서로 276-1',
       '표선면 표선리 1007-2', '표선면 표선중앙로90번길 1', '표선면 표선동서로 253',
       '표선면 표선리 630-2', '표선면 성읍리 1380-3', '표선면 표선리 662-1',
       '남원읍 남원리 186-4', '표선면 표선리 880-1',
       '서북구 성거읍 신월리 371-1번지 1층 천안시 충청남도', '봉천동 895-1',
       '표선면 성읍정의현로22번길 14-5', '표선면 성읍리 1418', '표선면 성읍리 868-1',
       '표선면 성읍민속로 63  (가게옆 초가 관람지와 무관한 곳 입니다', '표선면 성읍민속로 148',
       '표선면 세화리 1128-4', '표선면 성읍리 3305-25', '표선면 가시로 419', '표선면 성읍리 1018',
       '표선면 성읍리 1505', '표선면 성읍리 1623-1', '표선면 가시리 1877-6',
       '표선면 가시리 1900-4', '표선면 하천리 2185-11', '표선면 성읍리 656-2',
       '표선면 세화리 1123-3', '표선면 표선관정로', '표선면 번영로3476번길', '표선면 성읍리 830-1',
       '표선면 가시리 2501-6', '표선면 표선리 637-8', '조천읍 북선로 372', '표선면 성읍리 766-1',
       '구좌읍 종달로 60-15', '표선면 성읍리 963', '표선면 성읍정의현로 40', '표선면 성읍리 582',
       '서호동 1466-15', '테헤란로 37길 7 13층 디너의여왕', '제주시 구좌읍 해맞이해안로 1296',
       '구좌읍 해맞이해안로 1108', '조천읍 교래4길 73', '이도이동 1977-6', '대정읍 하모리 52-3',
       '강정동 5495', '표선면 토산리 423-3 21', '표선면 세화리 183'], dtype=object)

In [120]:
# 파일로 저장 
not_aw.to_excel('애월읍_이외.xlsx', index=False)

# 업종 걸러내기

In [21]:
aw2.what.unique()

array(['음식점', '한식', '일식', '해산물 요리', '쌈밥전문점', '바베큐', '중식', '이탈리아 요리', '피자',
       '국수 전문점', '치킨 전문점', '한국식 소고기 전문 음식점', '패밀리 레스토랑 요리', '간이음식점',
       '닭 튀김', '돈까스 전문식당', '닭 요리', '흑돼지전문점', '김밥전문점', '회 전문점', '햄버거',
       '순대 전문점', '야식전문점', '일식당 및 일정식집', '패스트푸드', '수산물도매상', '초밥', '카페',
       '고기', '제과점', '보신탕집', '해산물 판매점', '호프/생맥주집', '관광 명소', '식료품점',
       '차 전문점', '슈퍼마켓', '숙박 업소', '편의점', nan, '대형 슈퍼마켓', '한정식집',
       '갈비 전문 음식점', '술집', '호주 요리', '아침식사', '미국 서부 요리', '휴양 주택', '냉면 전문점',
       '불교', '2성급 호텔', '테마파크', '승마장', '커피숍/커피 전문점', '택배 서비스', '민박집',
       '고급 레스토랑 요리', '그릴', '동굴', '박물관', '호스텔', '산장', '공원', '어린이집', '면사무소',
       '승마', '두부', '간이식당', '과일 및 야채 가게', '산봉우리', '게스트 하우스', '요식업', '정육점',
       '건강식품 판매점', '농산물 직판장', '서점', '공원묘지', '초등학교', '하이킹코스', '대중교통 이용장소',
       '3성급 호텔', '제조업체', '삼계탕 전문점', '마을 회관', '유료 도로 휴게소', '중학교', '공중목욕탕',
       '감자탕 전문점', '목장', '해산물', '시청', '죽 전문점', '명승지', '여행자 임대아파트'],
      dtype=object)

In [22]:
nono = ['동굴','타운하우스 단지','실내 숙박시설', '영농조합', '재즈', '모텔', '관광 명소', '서핑 학원', '주차장',  '해변', '편의점', '식료품점', '슈퍼마켓', '정육점', '공원', '해산물 판매점', '낚시터',  '게스트 하우스', '민박집', '3성급 호텔', '휴양 주택', '숙박 업소', '목장',  '양조장', '2성급 호텔', '자연보호구역', '박물관', '쌀 매매상', '교육센터', '테마파크', '미술관', '주류 판매점', '여행자 임대아파트', '과일 및 야채 가게', '아파트 단지', '아파트', '도매업체']
caffe = ['카페', '커피숍/커피 전문점', '전통 찻집', '제과점', '디저트 전문점', '차 전문점']
aw3 = aw2[~aw2.what.isin(nono)] # 정말 아닌거 제거 
aw4 = aw3[~aw3.what.isin(caffe)]  # 카페와 베이커리 제거

In [23]:
aw4.what.unique()   # 어떤 업종을 포함하는지 확인

array(['음식점', '한식', '일식', '해산물 요리', '쌈밥전문점', '바베큐', '중식', '이탈리아 요리', '피자',
       '국수 전문점', '치킨 전문점', '한국식 소고기 전문 음식점', '패밀리 레스토랑 요리', '간이음식점',
       '닭 튀김', '돈까스 전문식당', '닭 요리', '흑돼지전문점', '김밥전문점', '회 전문점', '햄버거',
       '순대 전문점', '야식전문점', '일식당 및 일정식집', '패스트푸드', '수산물도매상', '초밥', '고기',
       '보신탕집', '호프/생맥주집', nan, '대형 슈퍼마켓', '한정식집', '갈비 전문 음식점', '술집',
       '호주 요리', '아침식사', '미국 서부 요리', '냉면 전문점', '불교', '승마장', '택배 서비스',
       '고급 레스토랑 요리', '그릴', '동굴', '호스텔', '산장', '어린이집', '면사무소', '승마', '두부',
       '간이식당', '산봉우리', '요식업', '건강식품 판매점', '농산물 직판장', '서점', '공원묘지', '초등학교',
       '하이킹코스', '대중교통 이용장소', '제조업체', '삼계탕 전문점', '마을 회관', '유료 도로 휴게소',
       '중학교', '공중목욕탕', '감자탕 전문점', '해산물', '시청', '죽 전문점', '명승지'],
      dtype=object)

In [124]:
# 정리된 파일로 저장 
aw4.to_excel('애월읍_음식점만.xlsx', index=False)

In [24]:
aw4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903 entries, 0 to 1388
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     903 non-null    object
 1   score    903 non-null    float64
 2   review   903 non-null    int64
 3   price    362 non-null    object
 4   what     895 non-null    object
 5   address  903 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 49.4+ KB