In [1]:
import pandas as pd

In [2]:
aewol = ['고내리', '고성리', '곽지리', '광령리', '구엄리', '금성리', '납읍리', '봉성리', '상가리', '상귀리', '소길리', '수산리', '신엄리', '애월리', '어음리', '유수암리', '장전리', '하가리', '하귀1리', '하귀2리']
eup = '애월읍'

aewol_r = pd.DataFrame({})

for ri in aewol :
    df = pd.read_excel(f'df_{eup}_{ri}.xlsx')
    aewol_r = pd.concat([aewol_r, df], axis=0)

In [3]:
aewol_r.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5232 entries, 0 to 307
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5232 non-null   object
 1   score    4579 non-null   float64
 2   review   4579 non-null   object
 3   price    1737 non-null   object
 4   what     5219 non-null   object
 5   address  5195 non-null   object
dtypes: float64(1), object(5)
memory usage: 286.1+ KB

In [4]:
def make(df):
    df.review = df.review.str.replace(",", "")
    df.review = df.review.fillna(0)
    df.review = df.review.astype(float)
    df.score = df.score.fillna(0)

In [5]:
make(aewol_r)

In [8]:
aewol_drop = aewol_r.drop_duplicates()

In [9]:
aewol_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1854 entries, 0 to 307
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     1854 non-null   object
 1   score    1854 non-null   float64
 2   review   1854 non-null   float64
 3   price    765 non-null    object
 4   what     1842 non-null   object
 5   address  1823 non-null   object
dtypes: float64(2), object(4)
memory usage: 101.4+ KB

In [13]:
aewol_drop.to_excel('애월읍_중복제거_DB.xlsx', index=False)

In [14]:
sungsan = ['고성리', '난산리', '삼달리', '성산리', '수산리', '시흥리', '신산리', '신천리', '신풍리', '오조리', '온평리']

eup = '성산읍'

sungsan_r = pd.DataFrame({})

for ri in sungsan :
    df = pd.read_excel(f'df_{eup}_{ri}.xlsx')
    sungsan_r = pd.concat([sungsan_r, df], axis=0) 

sungsan_r.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3329 entries, 0 to 251
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3329 non-null   object
 1   score    2796 non-null   float64
 2   review   2796 non-null   object
 3   price    1113 non-null   object
 4   what     3318 non-null   object
 5   address  3295 non-null   object
dtypes: float64(1), object(5)
memory usage: 182.1+ KB

In [15]:
make(sungsan_r)

In [17]:
sungsan_drop = sungsan_r.drop_duplicates()

In [18]:
sungsan_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 0 to 251
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     1389 non-null   object
 1   score    1389 non-null   float64
 2   review   1389 non-null   float64
 3   price    540 non-null    object
 4   what     1378 non-null   object
 5   address  1367 non-null   object
dtypes: float64(2), object(4)
memory usage: 76.0+ KB

In [19]:
sungsan_drop.to_excel('성산읍_중복제거_DB.xlsx', index=False)

In [ ]:
aewol = ['고내리', '고성리', '곽지리', '광령리', '구엄리', '금성리', '납읍리', '봉성리', '상가리', '상귀리', '소길리', '수산리', '신엄리', '애월리', '어음리', '유수암리', '장전리', '하가리', '하귀1리', '하귀2리']
eup = '애월읍'

aewol_r = pd.DataFrame({})

for ri in aewol :
    df = pd.read_excel(f'naver_{eup}_{ri}.xlsx')
    aewol_r = pd.concat([aewol_r, df], axis=0)

In [ ]:



# aewol = ['고내리', '고성리', '곽지리', '광령리', '구엄리', '금성리', '납읍리', '봉성리', '상가리', '상귀리', '소길리', '수산리', '신엄리', '애월리', '어음리', '유수암리', '장전리', '하가리', '하귀1리', '하귀2리']

# # 성산읍 음식점 
# # sungsan = ['고성리', '난산리', '삼달리', '성산리', '수산리', '시흥리', '신산리', '신천리', '신풍리', '오조리', '온평리']
# f'df_{eup}_{ri}.xlsx', index=False)